/* Windows */
.window_introduction {
	background-color: #EDE9DA;
	padding-left: 30px;
}

.window_features {
	background-color: #EDE9DA;
	padding-right: 20px;
	padding-left: 20px;
}

.features_window {
	background: none;
	overflow: visible;
	margin-left: 10px;
	margin-top: 18px;
}

/* Images */
.mobiles_1 {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 15px;
}

/* Texts */
.intro_main_content,
.intro_technical_content1,
.intro_technical_content2,
.features_main_content,
.features_content {
	position: relative;
	font-family: verdana, arial, sans-serif;
}

.intro_main_content {
	top: 33px;
	font-size: 14px;
}

.intro_technical_content1,
.intro_technical_content2 {
	top: 106px;
	font-size: 14px;
	font-style: italic;
}

.intro_technical_content1 {
	font-weight: bold;
}

.intro_technical_content2 {
	font-weight: normal;
}

.tab_features {
	margin-top: 30px;
}

.features_main_content {
	top: 15px;
	font-style: italic;
	font-size: 1.1em;
}

.img_features {
	padding: 0 5px;
	zoom: 1;
}

/*Following CSS refer to Zoomer Gallery's Document'*/
.img_features li {
	width: 120px;
	height: 205px;
	position: relative;
	float: left;
	list-style: none outside none;
	margin: 5px 15px 0 0;
}

.img_features li img {
	width: 120px;
	height: 205px;
	/*border: 2px solid #ddd;*/
	padding: 5px;
	background: none;
	position: absolute;
	left: 0;
	top: 0;
	-ms-interpolation-mode: bicubic;
}

.img_features li img:hover {
	margin-top:15px;
	border: none;
}

.features_content {
	font-style: normal;
	font-size: 0.8em;
	width: 60%;
}


