/* Images */
.gps_icon {
	position: absolute;
	top: 250px;
	width: 100px;
	right: 25px;
}

/* Texts */
.news_title,
.news_introduction,
.news_introduction_tech_header,
.news_introduction_tech {
	position: relative;
	font-family: verdana, arial, sans-serif;
}

.news_title {
	top: 35px;
	font-weight: bold;
	font-style: normal;
	font-size: 24px;
}

.news_introduction {
	top: 60px;
	font-weight: normal;
	font-style: normal;
	margin-right: 15px;
	font-size: 15px;
	line-height: 90%;
}

.news_introduction_tech_header,
.news_introduction_tech {
	top: 80px;
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
}

.news_introduction_tech_header {
	font-weight: bold;
}

.news_introduction_tech {
	font-weight: normal;
}

.releases_1_version_header,
.releases_1_version_header_value,
.releases_1_date_header,
.releases_1_date_header_value {
	position: relative;
	font-family: verdana, arial, sans-serif;
	font-size: 16px;
}
.releases_1_version_header,
.releases_1_version_header_value {
	top: 120px;
	font-style: italic;
	position: relative;
	left: 5px;
}
.releases_1_version_header_value {
	font-weight: bold;
	font-style: normal;
	padding-left: 10px;
}
.releases_1_date_header,
.releases_1_date_header_value {
	top: 140px;
	font-style: italic;
	position: relative;
	left: 5px;
}
.releases_1_date_header_value {
	font-weight: bold;
	font-style: normal;
	padding-left: 10px;
}

.releases_1_file_size_header,
.releases_1_file_size_value {
	top: 145px;
	position: relative;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	text-align: center;
}

.releases_1_file_size_value {
	font-style: italic;
	font-weight: bold;
}

/* Buttons */
.jad_btn_releases {
    position: relative;
    top: 150px;
    width: 188px;
	height: 68px;
}
.jad_btn_releases .z-button-cm {
    color: #CC6600;
    font-size: 18px;
    font-weight: bold;
}
.jad_btn_releases .z-button-cm { 
    background-image : url('/images/download/jadButton.png');
}
.jad_btn_releases .z-button-focus .z-button-cm {
    background-position: 0 -120px;
}
.jad_btn_releases .z-button-over .z-button-cm {
    background-position: 0 -60px;
}
.jad_btn_releases .z-button-clk .z-button-cm {
    background-position: 0 -120px;
}
