/* Windows */
.window_introduction {
	background-color: #EDE9DA;
	padding-left: 30px;
}

/* Texts */
.current_version_header
.current_date_header {
	position: relative;
	font-family: verdana, arial, sans-serif;
}

.current_version_header {
	top: 15px;
	font-style: italic;
	font-size: 1.1em;
}

.current_date_header {
	top: 15px;
	font-style: italic;
	font-size: 1.1em;
}

/* Images */
.current_qr_code {
	position: absolute;
	top: 105px;
	height: 120px;
	width: 120px;
}

/* Buttons */
.jad_btn {
    width: 110px;
    height: 39px;
    height: 37px\9;
}
.jad_btn .z-button-cm {
    height: 31px;
    color: black;
}
.jad_btn .z-button-cm { 
    background-image : url('/images/download/jadButton.png');
}
.jad_btn .z-button-focus .z-button-cm {
    background-position: 0 -62px                    
}
.jad_btn .z-button-over .z-button-cm {
    background-position: 0 -31px
}
.jad_btn .z-button-clk .z-button-cm {
    background-position: 0 -93px                    
}               