/* Windows */
.window_introduction {
	background-color: #EDE9DA;
	padding-left: 30px;
}

/* Texts */
.current_version_header,
.current_version_header_value,
.current_date_header,
.current_date_header_value {
	position: relative;
	font-family: verdana, arial, sans-serif;
	font-size: 16px;
}
.current_version_header,
.current_version_header_value {
	top: 20px;
	font-style: italic;
	position: relative;
}
.current_version_header_value {
	font-weight: bold;
	font-style: normal;
	padding-left: 10px;
}
.current_date_header,
.current_date_header_value {
	top: 30px;
	font-style: italic;
	position: relative;
}
.current_date_header_value {
	font-weight: bold;
	font-style: normal;
	padding-left: 10px;
}

.current_file_size_header,
.current_file_size_value {
	position: relative;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	text-align: center;
	top: 45px;
/* 	left: 20px; */
}

.current_file_size_value {
	font-style: italic;
	font-weight: bold;
}

/* Images */
.current_qr_code {
	position: absolute;
	top: 235px;
	height: 120px;
	width: 120px;
	right: 10px;
}

/* Buttons */
.jad_btn {
    position: relative;
    top: 50px;
    width: 188px;
	height: 68px;
}
.jad_btn .z-button-cm {
    color: #CC6600;
    font-size: 18px;
    font-weight: bold;
}
.jad_btn .z-button-cm { 
    background-image : url('/images/download/jadButton.png');
}
.jad_btn .z-button-focus .z-button-cm {
    background-position: 0 -120px;
}
.jad_btn .z-button-over .z-button-cm {
    background-position: 0 -60px;
}
.jad_btn .z-button-clk .z-button-cm {
    background-position: 0 -120px;
}               