/* Images */
.img_sound_logo {
	width: 70px;
	position: absolute;
	top: 245px;
	right: 20px;
}

.img_mosque_2 {
	width: 900px;
	position: absolute;
	top: 390px;
	opacity: 0.4;
	right: 30px;
	border: 1px solid black;
}

.img_googlecode {
	margin-top: 40px;
}

.img_licence {
	width: 80px;
}

/* Texts */
.soundfiles_title,
.soundfiles_purpose,
.song_name,
.project_title,
.project_hosting {
	position: relative;
	font-family: verdana, arial, sans-serif;
}

.soundfiles_title {
	top: 35px;
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
}

.soundfiles_purpose {
	top: 45px;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	line-height: 90%;
	left: 0px;
}

.song_name,
.song_name_cmpl {
	font-weight: bold;
	font-style: italic;
	color: #330000;
}

.song_name {
	font-size: 14px;
	left: 20px;
}

.song_name_cmpl {
	font-size: 10px;
	margin-left: 20px;
}

.project_title {
	font-size: 16px;
	margin-right: 50px;
}

.project_hosting {
	font-size: 16px;
}

.project_url {
	font-family: verdana, arial, sans-serif;
	font-size: 18px;
	padding-top: 3px;
	text-align: center;
	color: #784F18;
}

.project_url_ctn {
	width: 360px;
	height: 30px;
	background-image: url('/images/resources/background_hosting_url.png');
	background-repeat: no-repeat;
	text-align: center;
	cursor: pointer;
}

/* Tabs */
.song_tab {
	position: relative;
	top: 84px;
	left: 20px;
}

/* Buttons */
.tlb_mp3 {
	background-repeat: no-repeat;
	cursor: pointer;
	height: 22px;
	width: 26px;
	background-image: url('/images/resources/mp3_icon.png');
	margin-left: 3px;
}
.tlb_mp3:hover {
	background-image: url('/images/resources/mp3_icon_hover.png');
}
